{% extends "base.html" %}

{% block title %}Chess Game{% endblock title %}
{% block content %}
<style>
	.chess-board {
		border-spacing: 0;
		border-collapse: collapse;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 100%;
	}
	.conversion-squares {
		border-spacing: 0;
		border-collapse: collapse;
		position: fixed;
		top: 0%;
		left: 0%;
		max-width: 100%;
	}
  th + th {
    border-bottom: 1px solid #aaa;
  }
  .chess-board th:first-child, .chess-board td:last-child {
    border-right: 1px solid #aaa;
  }
  tr:last-child td {
    border-bottom: 1px solid;
  }
  th:empty {
    border: none;
  }
	th {
		padding: 0.5em;
	}
	@media only screen and (min-width: 865px) {
		td {
			min-width: 5em;
			width: 5em;
			height: 5em;
		}
	}
	@media only screen and (max-width: 864px) and (min-width: 520px) {
		td {
			min-width: 3em;
			width: 3em;
			height: 3em;
		}
	}
	@media only screen and (max-width: 519px) {
		td {
			min-width: 2em;
			width: 2em;
			height: 2em;
		}
	}
	.light {
		/*background-color: #f4f2cb;*/
		background-color: #eee;
	}
	.dark {
		/*background-color: #680d0d;*/
		/*background-color: #ea72ac;*/
		background-color: #aaa;
	}
  .piece-wk {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/3/3b/Chess_klt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-wq {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/Chess_qlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-wr {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chess_rlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-wb {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/Chess_blt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-wn {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/Chess_nlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-wp {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/04/Chess_plt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-bk {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e3/Chess_kdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-bq {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Chess_qdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-br {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Chess_rdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-bb {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/81/Chess_bdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-bn {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Chess_ndt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
  .piece-bp {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/cd/Chess_pdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
  }
	
	.conversion-piece-wq {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/49/Chess_qlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-wr {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chess_rlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-wb {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/9b/Chess_blt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-wn {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/28/Chess_nlt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.conversion-piece-bq {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/af/Chess_qdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-br {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a0/Chess_rdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-bb {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/8/81/Chess_bdt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.conversion-piece-bn {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Chess_ndt60.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
	.hidden {
		opacity: 0;
	}

	.z-20 {
		z-index: 20;
	}
	
	.centered-horizontally {
		text-align: center;
	}
</style>


<div class="hidden game-over-text"></div>
<div class="centered-horizontally">
	{% if player_color == "w" %}
		You are the white player.
	{% elif player_color == "b" %}
		You are the black player.
	{% else %}
		You are a spectator.
	{% endif %}
</div>

<table class="conversion-squares conversion-squares-w hidden">
	<tbody>
		<tr>
			<td class="light conversion-piece-wq"></td>
		</tr>
		<tr>
			<td class="dark conversion-piece-wr"></td>
		</tr>
		<tr>
			<td class="light conversion-piece-wb"></td>
		</tr>
		<tr>
			<td class="dark conversion-piece-wn"></td>
		</tr>
	</tbody>
</table>
<table class="conversion-squares conversion-squares-b hidden">
	<tbody>
		<tr>
			<td class="light conversion-piece-bq"></td>
		</tr>
		<tr>
			<td class="dark conversion-piece-br"></td>
		</tr>
		<tr>
			<td class="light conversion-piece-bb"></td>
		</tr>
		<tr>
			<td class="dark conversion-piece-bn"></td>
		</tr>
	</tbody>
</table>

<table class="chess-board">
	<tbody>
		<tr>
			<th></th>
			<th>a</th>
			<th>b</th>
			<th>c</th>
			<th>d</th>
			<th>e</th>
			<th>f</th>
			<th>g</th>
			<th>h</th>
		</tr>
		<tr>
			<th>8</th>
			<td class="light square-8a"></td>
			<td class="dark square-8b"></td>
			<td class="light square-8c"></td>
			<td class="dark square-8d"></td>
			<td class="light square-8e"></td>
			<td class="dark square-8f"></td>
			<td class="light square-8g"></td>
			<td class="dark square-8h"></td>
		</tr>
		<tr>
			<th>7</th>
			<td class="dark square-7a"></td>
			<td class="light square-7b"></td>
			<td class="dark square-7c"></td>
			<td class="light square-7d"></td>
			<td class="dark square-7e"></td>
			<td class="light square-7f"></td>
			<td class="dark square-7g"></td>
			<td class="light square-7h"></td>
		</tr>
		<tr>
			<th>6</th>
			<td class="light square-6a"></td>
			<td class="dark square-6b"></td>
			<td class="light square-6c"></td>
			<td class="dark square-6d"></td>
			<td class="light square-6e"></td>
			<td class="dark square-6f"></td>
			<td class="light square-6g"></td>
			<td class="dark square-6h"></td>
		</tr>
		<tr>
			<th>5</th>
			<td class="dark square-5a"></td>
			<td class="light square-5b"></td>
			<td class="dark square-5c"></td>
			<td class="light square-5d"></td>
			<td class="dark square-5e"></td>
			<td class="light square-5f"></td>
			<td class="dark square-5g"></td>
			<td class="light square-5h"></td>
		</tr>
		<tr>
			<th>4</th>
			<td class="light square-4a"></td>
			<td class="dark square-4b"></td>
			<td class="light square-4c"></td>
			<td class="dark square-4d"></td>
			<td class="light square-4e"></td>
			<td class="dark square-4f"></td>
			<td class="light square-4g"></td>
			<td class="dark square-4h"></td>
		</tr>
		<tr>
			<th>3</th>
			<td class="dark square-3a"></td>
			<td class="light square-3b"></td>
			<td class="dark square-3c"></td>
			<td class="light square-3d"></td>
			<td class="dark square-3e"></td>
			<td class="light square-3f"></td>
			<td class="dark square-3g"></td>
			<td class="light square-3h"></td>
		</tr>
		<tr>
			<th>2</th>
			<td class="light square-2a"></td>
			<td class="dark square-2b"></td>
			<td class="light square-2c"></td>
			<td class="dark square-2d"></td>
			<td class="light square-2e"></td>
			<td class="dark square-2f"></td>
			<td class="light square-2g"></td>
			<td class="dark square-2h"></td>
		</tr>
		<tr>
			<th>1</th>
			<td class="dark square-1a"></td>
			<td class="light square-1b"></td>
			<td class="dark square-1c"></td>
			<td class="light square-1d"></td>
			<td class="dark square-1e"></td>
			<td class="light square-1f"></td>
			<td class="dark square-1g"></td>
			<td class="light square-1h"></td>
		</tr>
	</tbody>
</table>
{% endblock content %}

{% block scripts %}
{{ game_id|json_script:"game_id" }}
{{ game_type|json_script:"game_type" }}
{{ request.user.username|json_script:"user_username" }}
{{ player_color|json_script:"player_color" }}
<script>
	let lightSquares = document.querySelectorAll(".chess-board .light");
	let darkSquares = document.querySelectorAll(".chess-board .dark");
  let allSquares = document.querySelectorAll(".chess-board .light,.chess-board .dark");
	let whitePieceSquares = document.querySelectorAll(".chess-board [class*='piece-w']");
	let blackPieceSquares = document.querySelectorAll(".chess-board [class*='piece-b']");
	let pieceSquares = new Set([
		...whitePieceSquares,
		...blackPieceSquares
	]);;
	let wConversionSquares = document.querySelectorAll(".conversion-squares-w td");
	let wConversionSquareContainer = document.querySelector(".conversion-squares-w");
	let bConversionSquares = document.querySelectorAll(".conversion-squares-b td");
	let bConversionSquareContainer = document.querySelector(".conversion-squares-b");
	let selectedSquare = null;
	let conversionPiece = null;
	let globalEndx = null;
	let globalEndy = null;
	let gameOverTextSquare = document.querySelector(".game-over-text");
	
	const user_username = JSON.parse(document.getElementById("user_username").textContent);
	const game_id = JSON.parse(document.getElementById("game_id").textContent);
	const game_type = JSON.parse(document.getElementById("game_type").textContent);
	const player_color = JSON.parse(document.getElementById("player_color").textContent);
	let gameSocketProtocol = window.location.protocol == "https:" ? "wss" : "ws";
	const gameSocket = new WebSocket(`${gameSocketProtocol}://${window.location.host}/ws/chess/${game_type}/${game_id}/`)
	// const gameSocket = new WebSocket(`${gameSocketProtocol}://192.168.1.22:8000/ws/chess/${game_id}/`)
	const COORDINATE_TO_SQUARE = {
		1: "a",
		2: "b",
		3: "c",
		4: "d",
		5: "e",
		6: "f",
		7: "g",
		8: "h",
	}
	const SQUARE_TO_COORDINATE = {
		"a": 1,
		"b": 2,
		"c": 3,
		"d": 4,
		"e": 5,
		"f": 6,
		"g": 7,
		"h": 8,
	}
	const NUM_TO_PIECE = {
		1: "p",
		2: "n",
		3: "b",
		4: "r",
		5: "q",
		6: "k",
	}
	const NUM_TO_COLOR = {
		1: "w",
		"-1": "b",
	}
	const COLOR_TO_NUM = {
		"w": 1,
		"b": -1,
	}

	function wait(ms) {
    const start = Date.now();
		let now = start;
		while ( (now - start) < ms ) { now = Date.now(); }
	}

	function updatePieceSquares() {
		whitePieceSquares = document.querySelectorAll(".chess-board [class*='piece-w']");
		blackPieceSquares = document.querySelectorAll(".chess-board [class*='piece-b']");
		pieceSquares = new Set([
			...whitePieceSquares,
			...blackPieceSquares
		]);;
	}
	function resetConversion() {
		conversionPiece = null;
		globalEndx = null;
		globalEndx = null;
		
		if (player_color === "w" && !wConversionSquareContainer.classList.contains("hidden")) {
			wConversionSquareContainer.classList.add("hidden");
		}
		else if (player_color === "b" && !bConversionSquareContainer.classList.contains("hidden")) {
			bConversionSquareContainer.classList.add("hidden");
		}
	}
	function checkGameOver(winner) {
		console.log(1)
		console.log(winner)
		console.log(typeof(winner))
		console.log(!winner)
		if (winner != 0) {
			let winnerText = ""

			switch (winner) {
				case 2:
					winnerText = "Game is a Draw.";
					break;
				
				case 1:
					winnerText = "White won the game.";
					break;
				
				case -1:
					winnerText = "Black won the game.";
					break;
				
				default:
					return;
			}
			console.log("Game Over. " + winnerText)
			//window.alert("Game Over. " + winnerText)
			gameOverTextSquare.innerHTML = "Game Over. " + winnerText
			gameOverTextSquare.classList.remove("hidden")
		}
	}

	function renderDefaultColors() {
		lightSquares.forEach((sq) => {
			sq.style.backgroundColor = "#eee";
		});
		darkSquares.forEach((sq) => {
			sq.style.backgroundColor = "#aaa";
		});
	}

	function nodelistIncludes(list, element) {
		return list.values().some(el => el === element)
	}

	function makeMove(endx, endy) {
		let startx = selectedSquare.className.split("square-")[1][0];
		let starty = selectedSquare.className.split("square-")[1][1];;
		let pieceType = selectedSquare.className.split("piece-")[1][1];

		if (pieceType === "p" && endx-1 === parseInt(3.5+3.5*COLOR_TO_NUM[player_color])) {
			console.log("conversion_initial")
			globalEndx = endx;
			globalEndy = endy;
			if (player_color === "w") {
				wConversionSquareContainer.classList.remove("hidden");
			}
			else if (player_color === "b") {
				bConversionSquareContainer.classList.remove("hidden");
			}
		}
		else {
			gameSocket.send(JSON.stringify({
				"command": "move",
				"move": {
					"start": [startx, starty],
					"end": [endx, endy],
				},
				"color": player_color,
				"pieceType": pieceType,
				"username": user_username
			}))
			selectedSquare = null;
		}
	};

	function sendMakeAiMoveIfPossible() {
		console.log(1)
		if (game_type == "ai") {
			console.log(2)
			gameSocket.send(JSON.stringify({
				"command": "make_ai_move_if_possible",
				"username": user_username
			}))
		}
	}

	gameSocket.onmessage = function(e) {
		let data = JSON.parse(e.data);
		
		let command = data["command"]

		if (command === "make_move") {
			let startx = data["move"]["start"][0]+1;
			let starty = COORDINATE_TO_SQUARE[data["move"]["start"][1]+1];
			let endx = data["move"]["end"][0]+1;
			let endy = COORDINATE_TO_SQUARE[data["move"]["end"][1]+1];
			let qCastle = data["move"]["qCastle"];
			let kCastle = data["move"]["kCastle"];
			let enPassant = data["move"]["enPassant"];
			let conversion = data["move"]["conversion"];
			let color = data["color"];
			let pieceType = data["pieceType"];
			let winner = data["winner"];
	
			let startSquare = document.querySelector(".square-" + startx.toString() + starty);
			let endSquare = document.querySelector(".square-" + endx.toString() + endy);
			console.log(startSquare)
			console.log(".square-" + startx.toString() + starty)
			console.log(endSquare)
			console.log(conversion)
			console.log("piece-" + color + pieceType)
			startSquare.classList.remove("piece-" + color + pieceType);
			let removeClassNameSplit = endSquare.className.split("piece-")[1];
			if (removeClassNameSplit !== undefined) {
				endSquare.classList.remove("piece-" + removeClassNameSplit.slice(0, 2));
			}
			console.log(color, pieceType)
			endSquare.classList.add("piece-" + color + pieceType);

			if (qCastle) {
				let rookStarty = COORDINATE_TO_SQUARE[data["move"]["end"][1]-1];
				let rookEndy = COORDINATE_TO_SQUARE[data["move"]["end"][1]+2];
				let rookSquare = document.querySelector(".square-" + endx.toString() + rookStarty);
				let targetSquare = document.querySelector(".square-" + endx.toString() + rookEndy);

				rookSquare.classList.remove("piece-" + color + "r");
				targetSquare.classList.add("piece-" + color + "r");
			}
			if (kCastle) {
				let rookStarty = COORDINATE_TO_SQUARE[data["move"]["end"][1]+2];
				let rookEndy = COORDINATE_TO_SQUARE[data["move"]["end"][1]];
				let rookSquare = document.querySelector(".square-" + endx.toString() + rookStarty);
				let targetSquare = document.querySelector(".square-" + endx.toString() + rookEndy);

				rookSquare.classList.remove("piece-" + color + "r");
				targetSquare.classList.add("piece-" + color + "r");
			}

			if (enPassant) {
				console.log(endx-color, endy)
				let capturedPawn = document.querySelector(".square-" + (endx-COLOR_TO_NUM[color]).toString() + endy);

				capturedPawn.classList.remove("piece-" + NUM_TO_COLOR[-COLOR_TO_NUM[color]] + "p");
			}
			
			if (["q", "r", "b", "n"].includes(conversion)) {
				console.log(conversion)
				endSquare.classList.remove("piece-" + color + "p");
				endSquare.classList.add("piece-" + color + conversion);
			}

			updatePieceSquares();
			resetConversion();
			checkGameOver(winner);

			if (winner == 0) {
				sendMakeAiMoveIfPossible()
			}
		}
		else if (command === "initiate_position") {
			let board = data["board"];
			let winner = data["winner"];
			console.log(board)

			for (let square of allSquares) {
				let square_coords = square.className.split("square-")[1];
				let x = parseInt(square_coords[0])-1;
				let y = SQUARE_TO_COORDINATE[square_coords[1]]-1;
				let piece_num = board[x][y];

				if (piece_num === 0) {
					continue
				}

				let color_num = piece_num/Math.abs(piece_num);
				let piece = NUM_TO_PIECE[color_num*piece_num];
				let color = NUM_TO_COLOR[color_num];
				console.log(color, piece, color_num, piece_num)
				square.classList.add("piece-" + color + piece);
			}

			updatePieceSquares();
			resetConversion();
			checkGameOver(winner);
			
			sendMakeAiMoveIfPossible();
		}
	}

	function handleClick() {
		console.log(wConversionSquares)
		renderDefaultColors();
		console.log(player_color, selectedSquare, nodelistIncludes(pieceSquares, this))
		let pieceColor = null;
		if (nodelistIncludes(pieceSquares, this)) {
			pieceColor = this.className.split("piece-")[1][0];
		}
		console.log(pieceColor)
		if (
			selectedSquare === null ||
			player_color === "w" && nodelistIncludes(whitePieceSquares, this) ||
			player_color === "b" && nodelistIncludes(blackPieceSquares, this)
			) {
			if (nodelistIncludes(pieceSquares, this) && pieceColor === player_color) {
				selectedSquare = this;
				this.style.backgroundColor = "red";
			} else {
				selectedSquare = null;
			}
		} else {
			console.log(1)

			makeMove(this.className.split("square-")[1][0], this.className.split("square-")[1][1])
		}
	}

	function handleConversionClick() {
		console.log("converison");
		console.log(selectedSquare);
	
		let startx = selectedSquare.className.split("square-")[1][0];
		let starty = selectedSquare.className.split("square-")[1][1];;
		let pieceType = selectedSquare.className.split("piece-")[1][1];

		conversionPiece = this.className.split("conversion-piece-")[1][1];
		
		gameSocket.send(JSON.stringify({
			"command": "move",
			"move": {
				"start": [startx, starty],
				"end": [globalEndx, globalEndy],
				"conversionPiece": conversionPiece,
			},
			"color": player_color,
			"pieceType": pieceType,
			"username": user_username
		}))
		selectedSquare = null;
	}

	if (player_color === "w") {
		wConversionSquareContainer.classList.add("z-20");
		wConversionSquares.forEach((sq) => {
			sq.addEventListener("click", handleConversionClick);
		});
	}
	else if (player_color === "b") {
		bConversionSquareContainer.classList.add("z-20");
		bConversionSquares.forEach((sq) => {
			sq.addEventListener("click", handleConversionClick);
		});
	}

	allSquares.forEach((sq) => {
		sq.addEventListener("click", handleClick);
	});
</script>
{% endblock scripts %}
