{% extends "base.html" %} 

{% block title %}Lobby{% endblock title %}
{% block content %}
Lobby: 
{% if user_authenticated %}
When you press “Play”, you join the matchmaking. There you will be randomly assigned to a game, which can either take place against another player or against an artificial intelligence.
<form action="{% url 'chess_game:matchmaking'  %}" method="get">
  {% csrf_token %}
  <button>Play</button>
</form>
<form action="{% url 'account:logout'  %}" method="get">
  {% csrf_token %}
  <button>Logout</button>
</form>
{% else %}
Please sign in to play the game. Press "login" to log into your account and "register" if you don't have an account yet. 
<form action="{% url 'account:login'  %}" method="get">
  {% csrf_token %}
  <button>Login</button>
</form>
<form action="{% url 'account:register'  %}" method="get">
  {% csrf_token %}
  <button>Register</button>
</form>
{% endif %}
{% endblock content %}

{% block scripts %}
<script>
  function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}=`);
    if (parts.length === 2) return parts.pop().split(';').shift();
  }

  function playChess() {
    console.log(getCookie("csrftoken"))
    fetch("{% url 'chess_game:lobby' %}", {
      method: "PUT",
      headers: {
        'Content-Type': 'application/json',
        'X_CSRFTOKEN': getCookie('csrftoken')
      }
    })
      .then(res => console.log(res))
  }
</script>
{% endblock scripts %}