{% extends "base.html" %} {% block content %}
Matchmaking
{% endblock content %}

{% block scripts %}
{{ request.user.username|json_script:"user_username" }}
<script>
  let matchmakingSocketProtocol = window.location.protocol == "https:" ? "wss" : "ws";
	const matchmakingSocket = new WebSocket(`${matchmakingSocketProtocol}://${window.location.host}/ws/chess/matchmaking/`)
	
  matchmakingSocket.onmessage = function(e) {
		let data = JSON.parse(e.data);
    
    let command = data["command"];
    console.log(0)
    if (command === "join_game") {
      let url = data["gameUrl"];
      console.log(url)
      window.location.replace(url);
    }
  }

</script>
{% endblock scripts %}