absl-py==1.3.0
aiohttp==3.7.4.post0
aioredis==1.3.1
altgraph==0.17
appdirs==1.4.4
arrow==1.2.3
asgiref==3.6.0
astroid==2.5.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==20.3.0
autobahn==21.3.1
Automat==20.2.0
backcall==0.2.0
bcrypt==3.2.0
binaryornot==0.4.4
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
channels==3.0.5
channels-redis==3.3.0
chardet==4.0.0
chess==1.10.0
Chromosome==0.1.1
click==7.1.2
colorama==0.4.4
console==0.9906
constantly==15.1.0
cookiecutter==2.1.1
crypto==1.4.1
cryptography==3.4.8
cycler==0.10.0
daphne==3.0.2
decorator==5.0.9
discord==1.0.1
discord.py==1.6.0
distlib==0.3.1
Django==4.2.13
django-appconf==1.0.5
django-browser-reload==1.6.0
django-compressor==4.3.1
django-tailwind==3.4.0
docopt==0.6.2
docutils==0.17.1
ExifRead==2.3.2
ezenv==0.92
faiss-cpu==1.7.3
filelock==3.0.12
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flatbuffers==23.5.26
future==0.18.2
ga==0.1.1.dev0
gast==0.5.4
google-auth==2.27.0
google-auth-oauthlib==1.2.0
google-pasta==0.2.0
greenlet==1.1.0
grpcio==1.60.1
h5py==3.10.0
hiredis==2.0.0
huggingface-hub==0.12.0
hurry.filesize==0.9
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
importlib-metadata==7.0.1
incremental==21.3.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jinja2-time==0.2.0
keras==2.15.0
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.3.1
lazy-object-proxy==1.5.2
libclang==16.0.6
Markdown==3.5.2
MarkupSafe==1.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mccabe==0.6.1
mediapipe==0.9.0.1
ml-dtypes==0.2.0
msgpack==1.0.2
multidict==5.1.0
Naked==0.1.31
numpy==1.26.4
oauthlib==3.2.2
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==23.0
packbits==0.6
Panda3D==1.10.9
panda3d-gltf==0.13
panda3d-simplepbr==0.8
pandas==1.3.2
parso==0.8.2
pefile==2021.5.24
pickleshare==0.7.5
Pillow==9.4.0
prompt-toolkit==3.0.18
protobuf==3.20.3
psd-tools3==1.8.2
psutil==5.8.0
psycopg2==2.9.5
py2exe==0.10.4.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBundle==1.0.6
pycparser==2.20
pycryptodome==3.11.0
pycryptodome-test-vectors==1.0.3
pycryptodomex==3.11.0
pygad==2.16.0
pygame==2.0.1
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
pylint==2.7.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
pytesseract==0.3.7
python-dateutil==2.8.1
python-slugify==8.0.0
pytube==11.0.1
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.4.1
rcssmin==1.1.1
regex==2022.10.31
requests==2.25.1
requests-oauthlib==1.3.1
rjsmin==1.2.1
rsa==4.9
scapy==2.4.5
screeninfo==0.6.7
service-identity==21.1.0
shellescape==3.8.1
six==1.15.0
solver==0.0.4
soupsieve==2.2.1
SQLAlchemy==1.4.17
sqlparse==0.4.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
text-unidecode==1.3
tokenizers==0.13.2
toml==0.10.2
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm==4.64.1
traitlets==5.0.5
transformers==4.26.0
Twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
txtai==5.2.0
typing-extensions==3.7.4.3
tzdata==2022.7
urllib3==1.26.6
ursina==3.6.0
vboxapi==1.0
virtualenv==20.4.3
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.17.0
zope.interface==5.4.0
